<div class="m-login-pop">
	<div class="login-pop-header">
		<h4>登录</h4>
		<div class="btn_close js_close"></div>
	</div>
	<div class="login-form-wrap">
		<form class="m-form">
			<div class="row">
			  <div class="ct">
			    <input type="text" class="inp-text" placeholder="请输入手机号" data-model="phone" value="" data-jvalidator-pattern="required&mobile" maxlength="11" />
			  </div>
			</div>
			<!-- 手机号密码登录 -->
			<div id="pwd-mode">
				<div class="row">
				  <div class="ct">
				    <input type="password" class="inp-text" placeholder="请输入密码" data-model="password" data-jvalidator-pattern="required" />
				  </div>
				</div>
				<div class="row">
				  <div class="ct">
				    <label class="auto-login">
				  		<i class="checkbox js-ckbox"><input type="checkbox" value="1" data-model="auto" ></i>
				  		<span>自动登录</span>
			  		</label>
				  </div>
				</div>
			</div>
			<div class="row btn-wrap">
				<button class="btn js-confirm" type="submit">登录</button>
			</div>
		</form>
	</div>
	<div class="login-pop-footer">
		<div class="register">
			<span>还没加入晓丁商城？</span>
			<a href="javascript:;" class="js-register">立即注册</a>
		</div>
		<div class="login-way">
			<a href="./userpw.html" class="js-shift-mode">忘记密码</a>
		</div>
	</div>
</div>
