<div class="m-pop m-pop-confirm">
  <div class="m-pop-hd">
    {{title}} <div class="close js-cancel">&times;</div>
  </div>
  <div class="m-pop-bd ">
    <div class="pop-main">
        <div class="content">{{{content}}}</div>
    </div>

  </div>
  <div class="m-pop-ft">
    <div class="btn-wrap">
      <button class="btn btn-gray js-cancel">取消</button>
      <button class="btn btn-blue js-ok">确定</button>
    </div>
  </div>
</div>
