<div class="m-pop m-pop-alert">
  <div class=" m-pop-hd">
    提示 <div class="close js-btn" style="font-size:22px;">&times;</div>
  </div>
  <div class="m-pop-bd ">
    <p class="content">{{content}}</p>
  </div>
  <div class="m-pop-ft">
    <button class="btn js-btn">确定</button>
  </div>
</div>
