<div class="m-pop m-pop-edit">
  <div class="m-pop-hd">
    {{data.title}} <div class="close js-close js-btn">&times;</div>
  </div>
  <div class="m-pop-bd ">
    <div class="pop-main">
        <div class="content">
          <div class="edit-content edit-step1">
             <ul>
	          <li><label>商品分类</label><select><option>科室</option></select></li>
	          <li><label>适用科室</label><select><option>综合</option></select></li>
	     	  <li><label>规格</label><select><option></option></select></li>
	     	  <li><label>功能</label><select><option></option></select> </li>
	     	  <li><label>商品名称</label><input class="w245" type="text"/></li>
	     	  <li><label>副标题</label><input class="w245" type="text"/></li>
	     	  <li><label>商品品牌</label><input class="w245" class="disable" type="text" /></li>
	     	  <li><label>产地</label><input type="text" class="disable"/><button>进口件</button></li>
              <li><label>生产商</label><input class="w245 disable" type="text" /></li>
              <li><label>注册账号</label><input class="w245 disable" type="text" /></li>
              <li><label>器械分类</label><input class="w245 disable" type="text"/></li>
              <li><label>售卖价</label><input type="text" class="w85"/><label>促销价</label><input type="text" class="w85"/></li>
              <li><label>医疗器械分类编号</label><input class="w245 disable" type="text"/></li>
              <li><label>含税进货价</label><input type="text" class="disable w85"/><label>市场价</label><input class="w85" type="text"/></li>
              <li><label>生产地址</label><input class="w245 disable" type="text" /></li>
              <li><label>单位</label><select></select></li>
              <li><label>产品标准</label><input class="w245 disable" type="text"/></li>
              <li><label>最小包装单位</label><select></select></li>
	     	</ul>
	     	<div class="m-pop-ft">
			    <div class="btn-wrap btn-right">
			      <button class="btn btn-light  js-cancel">取消</button>
			      <button class="btn btn-light  js-next">确定,下一步</button>
			    </div>
           </div>
          </div>
          <div class="edit-content edit-step2">
              <div>
	     	   	  <p>商品图片</p>
	     	   	  <p>(4/5)</p>
	     	  </div>
	     	  <div class="pic-wrap upload-container">
	     	     <div class="default-pic upload-pic" id="addPic">+</div>
	     	  </div>
	     	  <div class="m-pop-ft">
			    <div class="btn-wrap btn-right">
			      <button class="btn btn-light js-prev">上一步</button>
			      <button class="btn btn-light  js-cancel">取消</button>
			      <button class="btn btn-light  js-next">确定,下一步</button>
			    </div>
             </div>
	      </div>
          <div class="edit-content edit-step3">
            <p>产品说明书</p>
	        <textarea></textarea>
	        <p><span>上传文本</span></p>
	        <div class="m-pop-ft">
			    <div class="btn-wrap btn-right">
			      <button class="btn btn-light js-prev">上一步</button>
			      <button class="btn btn-light  js-cancel">取消</button>
			      <button class="btn btn-light  js-ok">保存</button>
			    </div>
             </div>
          </div>
       </div>
    </div>
  </div>
</div>
