<div class="nav-header">
    <div class="uerInfo">
      <div class="dlzc" id="dlzc">
        <span class="js-login">登录</span>   <span class="js-register">注册</span>  <span><a href="./userinfo.html" style="color:white">个人中心</a></span>
      </div>
    </div>
    <ul class="m-nav-list">
      <li><a href="./index.html">首页</a></li>
      <li><a href="./list.html">学习资料</a></li>
      <li><a href="./list.html">数码电器</a></li>
      <li><a href="./list.html">服装服饰</a></li>
      <li><a href="./list.html">箱包配饰</a></li>
      <li><a href="./list.html">美容护发</a></li>
      <li><a href="./list.html">运动户外</a></li>
      <li><a href="./list.html">生活超市</a></li>
    </ul>
    <div class="m-search">
      <input type="text" id="search_text" placeholder="请输入换购物品">
      <a href="javascript:;" class="search-icon"></a>
      <!-- <ul class="xiala">
      </ul> -->
    </div>
</div>
