<div class="nav-header">
    <div class="uerInfo">
      <div class="dlzc" id="dlzc">
        <span class="js-login">登录</span>   <span class="js-register">注册</span>  <span>个人中心</span>
      </div>
    </div>
    <ul class="m-nav-list">
      <li><a href="/">首页</a></li>
      <li><a href="/m/clinic/clinic_home">学习资料</a></li>
      <li><a href="/m/hotInfo/hotInfo_list">数码电器</a></li>
      <li><a href="/m/activity/act_home">服装服饰</a></li>
      <li><a href="/m/product/product_list">箱包配饰</a></li>
      <li><a href="/m/hotInfo/hotInfo_list">美容护发</a></li>
      <li><a href="/m/activity/act_home">运动户外</a></li>
      <li><a href="/m/product/product_list">生活超市</a></li>
    </ul>
    <div class="m-search">
      <input type="text" id="search_text" placeholder="请输入换购物品">
      <a href="javascript:;" class="search-icon"></a>
      <!-- <ul class="xiala">
      </ul> -->
    </div>
</div>
