@import "../../../libs/css3-mixins.scss";
.ct{
	width: 1000px;
	margin: 0 auto;
  background-color: #f6f6f6;
  font-family: "微软雅黑";
	.sx{
	  background-color: #fff;
	  color: #333333;
	  padding: 0 0 15px 18px;
	  font-size: 12px;
		.scale{
	    .cdts_title{
	      font-weight: bold;
	      margin-top: 15px;
	    }
	    ul{
	      width: 925px;
	      float: left;
	      overflow: hidden;
	      li{
	        float: left;
	        margin-top: 15px;
	        margin-left: 12px;
	        padding: 0 7px;
	        color: #666666;
	        @include border-radius(9px);
	        cursor: pointer;
	        &:hover{
	          background: #357ef6;
	          color: white;
	        }
	      }
	      .addBlue{
	        background: #357ef6;
	        color: #fff;
	      }
	    }
	  }
	}

  .clnc_list{
      padding-bottom: 88px;
      min-height: 439px;
      margin-top: 10px;
      ul{
        // overflow: hidden;
        // padding: 10px 0px 40px 0px;
        li{
          width: 235px;
          float: left;
          background-color: #fff;
          font-size: 12px;
          margin-top: 20px;
          margin-left: 20px;
          transition: box-shadow .2s linear;
          -moz-transition: box-shadow .2s linear; /* Firefox 4 */
          -webkit-transition: box-shadow .2s linear; /* Safari and Chrome */
          -o-transition: box-shadow .2s linear; /* Opera */
          img{
            width: 235px;
            height: 164px;
            float: left;
          }
          .clnlist_info{
            padding: 16px 18px 14px 18px;
            h3{
              font-size: 16px;
              color: #333333;
              height: 24px;
              text-align: center;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .price{
              color: red;
              text-align: center;
              font-size: 20px;
            }
          }
          &:hover{
            @include box-shadow(0,9px,18px,rgba(99,109,144,.16));
          }
        }
        li:nth-child(4n+1){
          margin-left: 0px;
        }
      }
      .loadMore-js{
        height: 38px;
        height: 38px;
        line-height: 38px;
        margin-top: 40px;
        background-color: #f0f0f0;
        text-align: center;
        font-size: 12px;
        color: #999999;
        cursor: pointer;
      }
  }

}
